.form-container{
    width:30%;
}

@media screen and (max-width: 1000px) {
    .form-container {
        width: 45%;
    }
}

.container .errortext{
    color:'red';
    margin: 2px 0 2px 0;
    font-size: 6px;
    font-weight: 500;
  }